{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block additionalStyles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'static/index.css' %}" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">
{% endblock %}
{% block content %}
        <h1 class="my-4">{{ title }} </h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{% translate "Name of user" %}</th>
                        <th>{% translate "Full name" %}</th>
                        <th>{% translate "Date of creation" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.date_joined | date:"d.m.Y H:s" }}</td>
                        <td><a href="{% url 'update_user' pk=user.pk %}">{% translate "Change" %}</a>
                            <br>
                            <a href="{% url 'delete_user' pk=user.pk %}">{% translate "Delete" %}</a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
{% endblock %}