{% load bootstrap4 %}
{% load static %}
{% load i18n %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{{ browser_tab_title }}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
    <link href="{% static 'index.css' %}" rel="stylesheet">
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg mb-3 navbar-dark" style="background-color: #052214;">
              <a class="navbar-brand nav-color" href="/">{% translate "Task Manager" %}</a>
              <button class="navbar-toggler custom-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
                <span class="navbar-toggler-icon navbar-light"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                         <a class="nav-link nav-color" href="{% url 'user_list' %}">{% translate "Users" %}</a>
                  </li>  
                  {% if request.user.is_authenticated %}
                      <li class="nav-item">
                         <a class="nav-link nav-color" href="{% url 'status_list' %}">{% translate "Statuses" %}</a>
                      </li>
                      <li class="nav-item">
                         <a class="nav-link nav-color" href="{% url 'label_list' %}">{% translate "Labels" %}</a>
                      </li>
                      <li class="nav-item">
                         <a class="nav-link nav-color" href="{% url 'task_list' %}">{% translate "Tasks" %}</a>
                      </li>
                  {% endif %}  
                </ul>
                <ul class="navbar-nav">
                  {% if request.user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link nav-color" href="{% url 'logout_user' %}">{% translate "Exit" %}</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link nav-color" href="{% url 'login_user' %}">{% translate "Entrance" %}</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-color" href="{% url 'create_user' %}">{% translate "Registration" %}</a>
                    </li>
                  {% endif %}
                </ul>
      </div>
    </nav>  

  <div class ="container wrapper flex-grow-1">
      {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" >
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">×</button>
                </div>
            {% endfor %}
        {% endif %}
  {% block content %} 
  {% endblock %}
  {% if page_obj.has_other_pages %}    
  <nav class="aria-label">
      <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
              </a>
          </li>
          {% endif %}
          {% for p in paginator.page_range %}
          {% if page_obj.number == p %}
              <li class="page-item active">
                  <a class="page-link" href="?page={{ p }}">{{ p }}</a>
              </li>
          {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ p }}">{{ p }}</a>
              </li>
          {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
      </ul>
  </nav>
  {% endif %}    
      
  </div>

  <footer class="mastfoot mt-auto">
  </footer>
  {% bootstrap_javascript jquery='full' %}
</body>
</html>