{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block additionalStyles %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'static/index.css' %}" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">
{% endblock %}
{% block content %}
      <div class="container wrapper flex-grow-1">
          <h1 class="my-4">{{ page_title }} </h1>
          <div class="card">
              <div class="card-header text-white">
                  <h2>{{ task.name }}</h2>
              </div>
              <div class="card-body">
                  <h2>{{ task.description }}</h2>
                  <hr>
                  <div class="container">
                      <div class="row p-1">
                          <div class="col">{% translate "Author" %}</div>
                          <div class="col">{{ task.author }}</div>
                      </div>
                      <div class="row p-1">
                          <div class="col">{% translate "Executor" %}</div>
                          <div class="col">{{ task.executor }}</div>
                      </div>
                      <div class="row p-1">
                          <div class="col">{% translate "Status" %}</div>
                          <div class="col">{{ task.status }}</div>
                      </div>
                      <div class="row p-1">
                          <div class="col">{% translate "Date of creation" %}</div>
                          <div class="col">{{ task.date_create| date:"d.m.Y H:s"  }}</div>
                      </div>
                      <div class="row p-1">
                          <div class="col">
                              {% translate "Labels:" %}
                              <br>
                              <ul>
                                  {% for label in task.labels.all %}
                                    <li>{{ label }}</li>
                                  {% endfor %}
                              </ul>
                          </div>
                      </div>
                      <div class="row p-1">
                          <a href="{% url 'update_task' pk=task.pk %}">{% translate "Change" %}</a>
                          <br>
                          <a href="{% url 'delete_task' pk=task.pk %}">{% translate "Delete" %}</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
{% endblock %}
